WindowsFormsApp3/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5314/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5314/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5314/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projekt" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ZmianaMiejscaZamieszkania_InputMessage">
    <wsdl:part name="parameters" element="tns:ZmianaMiejscaZamieszkania" />
  </wsdl:message>
  <wsdl:message name="IService1_ZmianaMiejscaZamieszkania_OutputMessage">
    <wsdl:part name="parameters" element="tns:ZmianaMiejscaZamieszkaniaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NowyKlient_InputMessage">
    <wsdl:part name="parameters" element="tns:NowyKlient" />
  </wsdl:message>
  <wsdl:message name="IService1_NowyKlient_OutputMessage">
    <wsdl:part name="parameters" element="tns:NowyKlientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NowyPojazd_InputMessage">
    <wsdl:part name="parameters" element="tns:NowyPojazd" />
  </wsdl:message>
  <wsdl:message name="IService1_NowyPojazd_OutputMessage">
    <wsdl:part name="parameters" element="tns:NowyPojazdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Przeglad_InputMessage">
    <wsdl:part name="parameters" element="tns:Przeglad" />
  </wsdl:message>
  <wsdl:message name="IService1_Przeglad_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrzegladResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Informacje_InputMessage">
    <wsdl:part name="parameters" element="tns:Informacje" />
  </wsdl:message>
  <wsdl:message name="IService1_Informacje_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformacjeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Rejestracja_InputMessage">
    <wsdl:part name="parameters" element="tns:Rejestracja" />
  </wsdl:message>
  <wsdl:message name="IService1_Rejestracja_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejestracjaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Waznosc_InputMessage">
    <wsdl:part name="parameters" element="tns:Waznosc" />
  </wsdl:message>
  <wsdl:message name="IService1_Waznosc_OutputMessage">
    <wsdl:part name="parameters" element="tns:WaznoscResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ZmianaMiejscaZamieszkania">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ZmianaMiejscaZamieszkania" message="tns:IService1_ZmianaMiejscaZamieszkania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ZmianaMiejscaZamieszkaniaResponse" message="tns:IService1_ZmianaMiejscaZamieszkania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NowyKlient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NowyKlient" message="tns:IService1_NowyKlient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NowyKlientResponse" message="tns:IService1_NowyKlient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NowyPojazd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NowyPojazd" message="tns:IService1_NowyPojazd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NowyPojazdResponse" message="tns:IService1_NowyPojazd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Przeglad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Przeglad" message="tns:IService1_Przeglad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrzegladResponse" message="tns:IService1_Przeglad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Informacje">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Informacje" message="tns:IService1_Informacje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InformacjeResponse" message="tns:IService1_Informacje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rejestracja">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Rejestracja" message="tns:IService1_Rejestracja_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RejestracjaResponse" message="tns:IService1_Rejestracja_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Waznosc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Waznosc" message="tns:IService1_Waznosc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WaznoscResponse" message="tns:IService1_Waznosc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZmianaMiejscaZamieszkania">
      <soap:operation soapAction="http://tempuri.org/IService1/ZmianaMiejscaZamieszkania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NowyKlient">
      <soap:operation soapAction="http://tempuri.org/IService1/NowyKlient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NowyPojazd">
      <soap:operation soapAction="http://tempuri.org/IService1/NowyPojazd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Przeglad">
      <soap:operation soapAction="http://tempuri.org/IService1/Przeglad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Informacje">
      <soap:operation soapAction="http://tempuri.org/IService1/Informacje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rejestracja">
      <soap:operation soapAction="http://tempuri.org/IService1/Rejestracja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Waznosc">
      <soap:operation soapAction="http://tempuri.org/IService1/Waznosc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:5314/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>